//---------colors--------

$darker_purple:#610bef;
$lighter_purple:#9804F9;

$darker-blue:#325BD4;
$lighter-blue:#548BF8;

$darker-green:#158A00;
$lighter-green:#22CA00;

$darker-yellow:#EAAC30;

$darker-pink:#CA0E4F;

$darker-grey:#6D7090;
$dark-grey:#757575;
$soft-grey:#CCCDD7;
$light-grey:#E0E0DE;
$lighter-grey:#F2F2F7;






