.home {
  margin: 1.6rem 2rem;

  .home-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .right-side {
     margin: 1rem 2rem;
     padding: 1rem;
    }
    .left-side {
      flex-grow: 1;
    }
  }
}