.home {
  margin: 1.6rem 2rem;
  .document_container {
    display: flex;
    gap: 1rem;
  }
  .home-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .right-side {
      width: 62%;
      padding: 1rem;
    }
    .left-side {
      flex-grow: 1;
    }
  }
}